{% extends 'layout.html' %}
{% block content %}

{% if active %}


{% else %}
{% block nav %}
<li><a href="{{url_for('home')}}">Home</a></li>
<li><a href="{{url_for('contest')}}" >Contest</a></li>
<li class="active"><a href="{{url_for('upload')}}">Upload</a></li>
<li class="profile" ><a href="{{url_for('profile')}}"><img  src="{{url_for('static',filename='img/demo-doll.png')}}" alt="" />Profile</a></li>

 {% endblock %}


{% endif %}

<div class="container">

  <!-- Main component for a primary marketing message or call to action -->
  <div class="jumbotron">
    <form class="form-horizontal"  method="POST" action="" enctype="multipart/form-data">
      <div class="form-group">
      <legend class="border-bottom mb-4"> {{ legend }}</legend>

    {{ form.hidden_tag() }}

        {{ form.title.label(class="col-md-3 control-label") }}
        {% if form.title.errors %}
          <div class="col-md-8">
              {{ form.title(class='form-control form-control-lg is-invalid') }}
          </div>
              <div class="invalid-feedback">
              {% for error in form.title.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %}
              <div class="col-md-8">
            {{ form.title(class='form-control',placeholder='title') }}
          </div>

        {% endif %}



      </div>


      <div class="form-group">
        {{ form.content.label(class="col-md-3 control-label") }}
        {% if form.content.errors %}
        <div class="col-md-8">
        {{ form.content(class='form-control form-control-lg is-invalid') }}
      </div>
        <div class="invalid-feedback">
          {% for error in form.content.errors %}
          <span>{{ error }}</span>
          {% endfor %}
          <div>
          {% else %}
            <div class="col-md-8">
          {{ form.content(class='form-control',placeholder='content') }}
        </div>
        {% endif %}
      </div>






      <div class="form-group">
        <label class="col-md-3 control-label"></label>
        <div class="col-md-8">
           {{ form.submit(class='btn btn-default') }}
        </div>
      </div>
    </form>
  </div>

</div>

{% endblock %}
